$primary-color: #5cb85c;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: source sans pro,sans-serif;
  font-size: 1rem;
  color: #373a3c;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.Logo {
  font-family: titillium web, sans-serif;
  font-weight: 700;
  &--primary {
    color: $primary-color;
  }
  &--white {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.3)
  }
  &--medium {
    font-size: 1.5rem;
  }
  &--large {
    font-size: 3.5rem;
  }
}

.Header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;

  &__Brand, &__Nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__NavLink {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid transparent;
    border-radius: 1px;

    &[aria-current="page"] {
      border-color: $primary-color;
    }
  }
}

.Hero {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #5cb85c;
  box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
  padding: 2rem;
  color: #fff;

  &__Description {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
